@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  color: #fff;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 92.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.header-section {
  background-color: #424d55;
  color: #fff;
}

.header-section .wrapper {
  display: flex;
  align-items: center;
}

.header-section img { width: inherit; }

.menu {
  flex-basis: 100%;
  display: flex;
}

.nav-section { 
  flex-basis: 53.5%; 
  margin: 0 264px 0 121px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items li a {
  color: inherit;
  font-size: 17px;
  font-weight: 1000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about::after {
  display: block;
  color: #dc6226;
  content: "\f107";
  font-family: "FontAwesome";
  text-align: center;
}

.selected { color: #dc6226;}

.social-links {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.social-links:last-child { flex-basis: 0; }

.link::before {
  font-family: "FontAwesome";
  font-size: 35px;
  color: #808d93;
}

.link::before:last-child { margin-right: 0; }

.twitter::before { content: "\f081"; }

.youtube::before { content: "\f167"; }

.hotspot::before { content: "\f1eb"; }

.facebook::before { content: "\f082"; }

.google-plus::before { content: "\f2b3";}

.nav-items a:hover, .link:hover {
  color: #dc6226;
  transform: scale(1.3);
  transition: transform 0.2s ease-in;
}

.hamburger { display: none; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  hero section styling starts here
=================================*/

.hero-section {
 position: relative;
 color: #fff;
}

.hero-section li { width: 100%; }

.slide2, .slide3 {display: none;}

.slide-controls {
  max-width: 60%;
  padding: 21px 33px 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #dc6226;
}

.slide1-info, .slide2-info, .slide3-info {
  flex-basis: 65%;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.control-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: "FontAwesome";
  font-size: 52px;
}

.control-btn:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in;
}

.right-btn::before { content: "\f105"; }

.left-btn::before { content: "\f104"; }

/*=================================
  hero section styling ends here
=================================*/

/*=================================
  feature section styling starts here
=================================*/

.feature-section { 
  padding: 128px 0 112px;
  color: #404b53; 
  text-align: center;
}

.section-title {
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.feature-list {
  display: flex;
  justify-content: space-evenly;
}

.feature-list-item {
  margin-right: 6%;
}

.feature-list-item:last-child { margin-right: 0; }

.feature-list-item::before {
  padding: 21px;
  border-radius: 50%;
  margin-bottom: 58px;
  background-color: #dc6226;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 40px;
}

.private-banking::before { content: "\f09d"; }

.time-saving::before { content: "\e0e3"; }

.budgetting::before { content: "\f4b9"; }

.money-saving::before { content: "\f4c0";}

.feature-list-title {
  width: 60%;
  margin: 53px auto 31px;
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
}

.feature-list-info {
  color: #b5b1b7;
  font-size: 18px;
  line-height: 1.6;
}

.btn {
  padding: 18px 21px;
  border: 1px solid #b5b1b7;
  margin-top: 32px;
  color: inherit;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

.feature-list .btn:hover { 
  background-color: #dc6226;
  color: #fff;
}

/*=================================
  feature section styling ends here
=================================*/

/*=================================
  assistance styling starts here
=================================*/ 

.assistance-section {
  padding: 130px 0 85px;
  background-color: #e5edf0;
  color: #404b53; 
  text-align: center;
}

.assistance-section .section-title { margin-bottom: 38px; }

.section-info {
  margin-bottom: 75px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card-group {
  padding: 14px 14px 63px;
  flex-basis: 30%;
  background-color: #fff;
}

.card-img { max-width: 527px; }

.card-title {
  margin-top: 57px;
  color: #dc6226;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
}

.card-info {
  max-width: 80%;
  margin: 15px auto 29px;
  color: #b5b1b7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.arrow-btn::before {
  content: "\f061";
  font-family: "FontAwesome";
  font-size: 20px;
  padding: 2px;
  border: 5px solid #000;
  border-radius: 50%;
  color: #000;  
}

.arrow-btn:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in;
}

/*=================================
  assistance styling ends here
=================================*/ 

/*=================================
  service section styling starts here
=================================*/

.service-section {
  display: flex;
  color: #fff;
}

.service-section .wrapper { width: 85.5%; }

.learning .wrapper { 
  width: 78%;
  padding-left: 53px; }

.service-group { 
  padding: 62px 0 54px;
  flex-basis: 100%;
 }

.solutions { background-color: #dc6226; }

.learning { background-color: #404b53; }

.service-section .section-title { 
  margin-bottom: 34px;
  font-size: 48px; 
  text-transform: capitalize;
}

.service-list {
  display: flex;
  flex-flow: column wrap;
}

.service-list li {
  margin-bottom: 17px;
  color: #b5b1b7;
  font-size: 24px;
  line-height: 2;
}

.solutions ul { margin-right: 35%; }

.solutions li { color: #fff; }

.service-list li::before{
  content: "\f013";
  font-family: "FontAwesome";
  font-size: 18px;
  margin-right: 26px;
  color: #fff;
}

.service-list-info { 
  color: #b5b1b7;
  font-size: 24px; 
  line-height: 1.5;
}

.service-section .btn { 
  border: 3px solid #fff;
  font-weight: 700;
 }

.solutions .btn:hover { background-color: #404b53; }

.learning .btn:hover { background-color: #dc6226; }

/*=================================
  service section styling ends here
=================================*/


/*=================================
  client styling starts here
=================================*/ 

.client-section { 
  padding: 84px 0; 
  display: flex;
  justify-content: space-between;
}

.client-section .wrapper {
  display: flex;
  justify-content: space-between;
}

.client-section .control-btn {
  flex-basis: 3%;
  font-size: 35px;
}

.clients-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

/*=================================
  client styling ends here
=================================*/ 


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/*=================================
  contact-form section styling starts here
=================================*/ 

.contact-section {
  padding: 103px 0 73px;
  background-image: url(../image/contact-bg.jpg);
  background-size: cover;
  text-align: center;
}

.contact-section .section-title { color: #fff; }

.form-inp {
  display: flex;
  justify-content: space-between;
}

.form-group:first-child { 
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-basis: 31%;
}

.form-group:last-child { flex-basis: 66%; }

.form-group input, .form-group textarea { 
  box-sizing: border-box;
  width: 100%;
  padding: 11px 16px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  opacity: 0.5;
}

::placeholder { color: #fff; }

.form-btn {
  padding: 22px 45px; 
  border: none;
  margin-top: 16px;
  background-color: #dc6226;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
 }

 .form-control {
  display: flex;
  justify-content: flex-end;
 }

.error { display: none; }

/*=================================
  contact-form section styling ends here
=================================*/

/*=================================
  contact-info section styling starts here
=================================*/

.contact-info {
  padding: 141px 0;
  background-color: #4e5961;
  color: #fff;
}

.contact-info .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-icon{
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-icon::before {
  box-sizing: border-box;
  padding: 27px 37px;
  border: 11px solid #6d727c;
  border-radius: 50%;
  margin-right: 22px;
  display: inline-block;
  background-color: #dc6226;
  font-family: "FontAwesome";
  font-size: 40px;
}

.address::before { content: "\f3c5"; }

.email::before { content: "\f0e0"; }

.contact-no::before { content: "\f095"; }

/*=================================
  contact-info section styling ends here
=================================*/

/*=================================
  copyright section styling starts here
=================================*/

.copyright-section { 
  box-sizing: border-box;
  padding: 124px 0 312px;
  background-color: #424d55;
  color: #fff;
}

.copyright-section .wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright-section .section-title {
  margin-bottom: 20px;
  display: inline-block;
} 

.policy {
  display: inline-block; 
  font-size: 15px;
}


.copyright-section .link::before {
  font-size: 45px;
  color: #dc6226;
}

.map { flex-basis: 50%; }

.copyright-section .link::before { font-size: 35px; }



/*=================================
  copyright section styling ends here
=================================*/

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 2560 starts here*/
@media only screen and (max-width: 2560px) and (min-width: 2000px) {

  .nav-section { flex-basis: 60%; }

  .nav-items li a { font-size: 20px; }
}


/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {
  
  .nav-section { 
    margin: 0 8.5% 0 5%;
    flex-basis: 61.5%;
  }

  .slide1-info, .slide2-info, .slide3-info { font-size: 40px; }

  .feature-list-title { width: 70%; }

  .contact-icon { font-size: 18px; }

  .contact-icon::before {
    padding: 20px 30px;
    border-width: 5px;
    font-size: 30px;
  }
}  

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  
  .nav-section li a { font-size: 14px; }

  .link::before { font-size: 26px; }

  .feature-list-title { width: 80%; }

  .section-title { font-size: 45px; }

  .section-info { font-size: 23px; }

  .card-title { font-size: 35px; }

  .card-info { font-size: 17px; }

  .service-section .section-title { font-size: 36px; }

  .service-list li { font-size: 20px; }

  .service-list-info { font-size: 18px; }

  .form-btn {
    padding: 15px 35px;
    font-size: 19px;
  }

  .contact-icon::before {
    padding:  15px 20px;
    margin-right: 10px;
  }

  .control-btn { font-size: 40px; }
}  


/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  .menu { display: none; }

  .hamburger { 
    margin-left: auto;
    display: block;
  }

  .hamburger::before {
    content: "\f0c9";
    font-size: 30px;
  }

  .slide1-info, .slide2-info, .slide3-info { font-size: 28px; }

  .control-btn { font-size: 35px; }

  .feature-list { flex-wrap: wrap; }

  .section-title { margin-bottom: 30px; }

  .feature-list-item { 
    margin: 60px 0 0;
    flex-basis: 40%; 
  }
  
  .assistance-section { padding: 60px 0; } 

  .feature-list-item::before { font-size: 30px; }

  .card { 
    flex-direction: column;
    align-items: center;
  }

.card-group { 
  width: 50%; 
  margin-bottom: 20px;
}

.card-group:last-child {margin-bottom: 0;}

.service-section { flex-direction: column; }

.learning .wrapper {
  width: 85.5%;
  padding-left: inherit;
}

.clients:last-child { display: none; }

.contact-info { padding: 60px 0; }

.contact-info .wrapper { flex-direction: column; }

.contact-info li { margin-bottom: 10px; }

.copyright-section { padding: 60px 0 120px; }

}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .slide1-info, .slide2-info, .slide3-info { font-size: 22px; }

  .feature-section { padding: 60px 0; }

  .section-title { font-size: 40px; }

  .feature-list-title { font-size: 22px; }

  .assistance-section .section-title { font-size: 35px; }

  .section-info { font-size: 18px; }

  .card-group { width: 75%; }

}  

@media only screen and (max-width: 425px) {

  .nav-items a {
   pointer-events: none;
  }

  .wrapper { width: 97%; }

  .header-section img { width: 50%; }

  .slide-controls { 
    max-width: 70%;
    padding: 10px 20px;
  }
  
  .slide1-info, .slide2-info, .slide3-info { 
    margin: 0 auto;
    font-size: 14px;
  }

  .hero-section .control-btn { display: none; }
 
  .section-title {
    margin-bottom: 15px;
    font-size: 25px;
  }  

  .feature-section { padding: 40px 0; }

  .feature-list { flex-direction: column; }

  .feature-list-item { 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-list-item:first-child { margin-top: 30px; }

  .feature-list-item:last-child { margin-right: auto; }

  .feature-list-title { font-size: 18px; }

  .feature-list-info { font-size: 14px; }

  .assistance-section .section-title { font-size:  25px; }

  .section-info {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .card-group {
    width: 90%;
    padding-bottom: 40px;
  }

  .card-title {
    margin-top: 40px;
    font-size: 30px;
  }

  .card-info { font-size: 14px; }

  .service-section .section-title { font-size:  25px; }

  .solutions ul { margin-right: 0; }

  .service-list li, .service-list-info { font-size: 15px; }

  

  .btn {
    padding: 12px 14px;
    font-size: 13px;
  }

  .client-section { padding: 36px 0; }

  .form-inp { flex-direction: column; }

  .form-group-inp { margin-bottom: 10px; }

  .contact-icon { font-size: 11px; }

  .copyright-section .wrapper { flex-direction: column; }

  .policy { font-size: 9px; }
 
  .map { margin-top: 20px; }
}