@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  color: #fff;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1766px;
  width: 92.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.header-section {
  background-color: #424d55;
  color: #fff;
}

.header-section .wrapper {
  display: flex;
  align-items: center;
}

.nav-section { 
  flex-basis: 44.5%; 
  margin: 0 15% 0 6.8%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items li a {
  color: inherit;
  font-size: 17px;
  font-weight: 1000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about::after {
  display: block;
  color: #dc6226;
  content: "\f107";
  font-family: "FontAwesome";
  text-align: center;
}

.selected { color: #dc6226;}

.social-links {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.link::before {
  font-family: "FontAwesome";
  font-size: 35px;
  color: #808d93;
}

.link::before:last-child { margin-right: 0; }

.twitter::before { content: "\f081"; }

.youtube::before { content: "\f167"; }

.hotspot::before { content: "\f1eb"; }

.facebook::before { content: "\f082"; }

.google-plus::before { content: "\f2b3";}

.nav-items a:hover, .link:hover {
  color: #dc6226;
  transform: scale(1.3);
  transition: transform 0.2s ease-in;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  hero section styling starts here
=================================*/

.hero-section {
 position: relative;
 color: #fff;
}

.carousel img { object-fit: cover; }

.slide2, .slide3 {display: none;}

.slide-controls {
  max-width: 1052px;
  padding: 21px 33px 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #dc6226;
}

.slide1-info, .slide2-info, .slide3-info {
  flex-basis: 65%;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.icon-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: "FontAwesome";
  font-size: 52px;
}

.right-btn::before { content: "\f105"; }

.left-btn::before { content: "\f104"; }

/*=================================
  hero section styling ends here
=================================*/

/*=================================
  feature section styling starts here
=================================*/

.feature-section { 
  padding: 128px 0 112px;
  color: #404b53; 
  text-align: center;
}

.section-title {
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.feature-list {
  display: flex;
  justify-content: space-evenly;
}

.feature-list-item {
  margin-right: 6%;
}

.feature-list-item:last-child { margin-right: 0; }

.feature-list-item::before {
  padding: 21px;
  border-radius: 50%;
  margin-bottom: 58px;
  background-color: #dc6226;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 40px;
}

.private-banking::before { content: "\f09d"; }

.time-saving::before { content: "\e0e3"; }

.budgetting::before { content: "\f4b9"; }

.money-saving::before { content: "\f4c0";}

.feature-list-title {
  margin: 53px 0 31px;
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
}

.feature-list-info {
  color: #b5b1b7;
  font-size: 18px;
  line-height: 1.6;
}

.btn {
  padding: 18px 21px;
  border: 1px solid #b5b1b7;
  margin-top: 32px;
  color: inherit;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

/*=================================
  feature section styling ends here
=================================*/

/*=================================
  assistance styling starts here
=================================*/ 

.assistance-section {
  padding: 130px 0 85px;
  background-color: #e5edf0;
  color: #404b53; 
  text-align: center;
}

.assistance-section .section-title { margin-bottom: 38px; }

.section-info {
  margin-bottom: 75px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card-group {
  padding: 14px 14px 63px;
  flex-basis: 30%;
  background-color: #fff;
}

.card-img { max-width: 527px; }

.card-title {
  margin-top: 57px;
  color: #dc6226;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
}

.card-info {
  max-width: 80%;
  margin: 15px auto 29px;
  color: #b5b1b7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.arrow-btn::before {
  content: "\f061";
  font-family: "FontAwesome";
  font-size: 20px;
  padding: 2px;
  border: 5px solid #000;
  border-radius: 50%;
  color: #000;  
}

/*=================================
  assistance styling ends here
=================================*/ 

/*=================================
  service section styling starts here
=================================*/

.service-section {
  display: flex;
  color: #fff;
}

.service-section .wrapper {
  width: 86%;
}

.service-group { 
  padding: 62px 0 54px;
 }

.solutions { 
  flex-basis: 100%;
  background-color: #dc6226; 
}

.learning { 
  padding-left: 66px;
  background-color: #404b53; }

.service-section .section-title { 
  margin-bottom: 34px;
  font-size: 48px; 
  text-transform: capitalize;
}

.service-list {
  display: flex;
  flex-flow: column wrap;
}

.service-list li {
  margin-bottom: 17px;
  color: #b5b1b7;
  font-size: 24px;
  line-height: 2;
}

.solutions ul { width: 510px; }

.solutions li { color: #fff; }

.service-list li::before{
  content: "\f013";
  font-family: "FontAwesome";
  font-size: 18px;
  margin-right: 26px;
  color: #fff;
}

.service-list-info { 
  color: #b5b1b7;
  font-size: 24px; 
  line-height: 1.5;
}

.service-section .btn { 
  border: 3px solid #fff;
  font-weight: 700;
 }

/*=================================
  service section styling ends here
=================================*/



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  